<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Blogs</title>
    <link rel="stylesheet" href="/style/style.css">

</head>

<body>
    <% if(locals.data && data.length !==0){ %>

        <form action="/update-data/<%= data._id  %>" method="post" enctype="multipart/form-data" class="form">
            Title: <input type="text" name="title" required value="<%=data.title %>">
            Content: <textarea type="text" name="content" required><%= data.content  %></textarea>
            Description: <textarea type="text" name="desc"  required><%= data.description  %></textarea>
            Image: <input type="file" name="image">
            <input type="submit">
        </form>
        <% }else{ %>
            <h3>Oops, No data found</h3>
            <% } %>
</body>

</html>